

:root {
    --spotify-green: #1FD75F;
    --footer-height: 40px;
}

html, body, * {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-height: 100vh;
    height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.left {
    height: 100%;
    background-color: black;
    position: relative;
    width: 300px;
    left: 0;
    bottom: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Nunito";
}

.menu {
    display: flex;
    flex-direction: row;
    position: relative;
}

.left li {
    border-radius: 5px;
}

.left li:hover {
    background-color: #545354;
}

.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0);
}

.menu ul {
    width: 100%;
}

.menu ul li img {
    width: 24px;
}

.menu ul li {
    padding: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: grey;
}

.menu ul * {
    cursor: pointer;
}

.menu ul li a span {
    position: relative; 
    top: -5px;
    left: 8px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    padding-left: 0 !important;
}

.playlists {
    font-weight: 400 !important;
}

.playlists ul li a span {
    left: 0px;
}

.current-song-cover img {
    position: absolute;
    width: 100%;
    bottom: 120px;
    left: 0;
}

.arrow-container {
    background-color: #434343;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: transform 200ms ease-in-out 0s;
}

.arrow-container:hover {
    transform: scale(1.2);
}

.arrow-container img {
    transition: transform 200ms ease-in-out 0s;
}

.arrow-container img:hover {
    transform: scale(1.2);
}

.playlist-arrows {
    display: flex;
    align-items: center;
}

.playlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    width: 100%;
}

.playlist-top-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #434343;
    border-radius: 20px;
    color: white;
}

.playlist-top-email .arrow-container {
    background-color: #545354;
}

.playlist-top-email span {
    padding: 0 20px 0 0;
}

.playlist-header {
    padding: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(119,119,119,1) 100%);
}

.playlist-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.playlist-cover img {
    width: 250px;
    height: 250px;
    box-shadow: 0px 2px 35px -1px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 2px 35px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 2px 35px -1px rgba(0,0,0,0.45);
}

.playlist-cover img:hover {
    animation: pulsate 2s infinite;
}

.playlist-info {
    color: white;
    padding-left: 20px;
}

.playlist-public {
    font-size: 12px;
    font-weight: 600;
    font-family: "AvenirLTStd-Black", sans-serif;
}

.playlist-title {
    font-size: 86px;
    font-weight: 1000;
    margin-top: 10px;
    font-family: "AvenirLTStd-Black", sans-serif;
}

.playlist-description {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    color: #B5B5B5;
    font-family: "AvenirLTStd-Black", sans-serif;
}

.playlist-stats img {
    position: relative;
    top: 6px;
}

.playlist-stats span:first-of-type {
    font-weight: 1000;
    font-family: "AvenirLTStd-Black", sans-serif;
}

.playlist-buttons-left, .playlist-buttons-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-buttons {
    display: flex;
    justify-content: space-between; 
}

.playlist-buttons img {
    transition: transform 150ms ease-in-out 0s;
}

.playlist-buttons img:hover {
    transform: scale(1.2);
}

.playlist-songs-container {
    height: 1000px;
    padding: 20px;
    background: rgb(95,95,95);
    background: linear-gradient(180deg, rgba(95,95,95,1) 0%, rgba(18,18,18,1) 22%, rgba(18,18,18,1) 100%);
    padding: 20px;
}

.playlist-buttons-resume-pause {
    background-color: var(--spotify-green);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease-in-out;
}

.playlist-buttons-resume-pause:hover {
    transform: scale(1.2);
}

.playlist-buttons-like, .playlist-buttons-download, .playlist-buttons-three-dot {
    margin-left: 20px;
}

.playlist-buttons-order {
    color: #a9a9a9;
    position: relative;
    top: -3px;
    margin-left: 20px;
}

.playlist-songs {
    margin-top: 20px;
}

.playlist-songs tr:hover {
    background-color: #545354;
}

.playlist-songs table {
    border-collapse: collapse;
    width: 100%;
}

.playlist table tr td, .playlist-songs tr th {
    padding: 10px;
    color: #CACACA;
}

.playlist-songs-table tr th {
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 2px;
}

.playlist-songs table tr:first-of-type {
    border-bottom: 1px solid #CACACA;
}

.playlist-songs table th {
    text-align: left;
}

.song-image img {
    width: 36px;
    height: 36px;
}

.song-name, .footer-player-left-song-name {
    font-weight: 400;
    font-size: 14px;
    color: white;
}



.song-name-artist {
    padding-left: 15px;
    letter-spacing: 0.5px;
}

.song-artist, .song-album, .song-date-added, tr td:first-of-type, .song-duration, .footer-player-left-song-artist {
    font-size: 14px;
    margin-top: 6px;
    color: #848485;
}

.song-artist {
    margin-top: 3px;

}

.song-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #181918;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
}

.footer-player-left-like {
    padding-left: 30px;
}

.footer-player-left-like img {
    transition: transform 0.3s ease-in-out;
}

.footer-player-left-like img:hover {
    transform: scale(1.4);
}

.footer-player-left {
    display: flex;
    align-items: center;
}

.footer-player-left-like img {
    width: 21px;
    height: 21px;
}

.footer-player-middle {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-player-middle-buttons img {
    width: 15px;
    padding: 15px;
    transition: transform 200ms ease-in-out 0s;
}

.footer-player-middle-buttons img:hover {
    transform: scale(1.2);
}

.pause-button:hover {
    transform: scale(1.2);
}

.footer-player-middle-buttons, .footer-player-middle-slider {
    display: flex;
    justify-content: center;
}

.pause-button {
    position: relative;
    display: inline-block;
    width: 36px !important;
    height: 36px !important;
    background-color: var(--spotify-green) !important;
    border-radius: 50%;
    margin: 0 8px;
    top: 4px;
    transition: transform 200ms ease-in-out 0s;
}

.pause-button img {
    position: relative;
    max-width: 24px !important;
    max-height: 24px !important;
    filter: none !important;
    left: -4px;
    top: -4px;
}

.player-slider input {
    -webkit-appearance: var(--spotify-green);
    width: 40vw;
    height: 5px;
    background-color: gray;
    border-radius: 5px;
    position: relative;
    border: none;
}

.footer-player-middle-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-time {
    padding: 0 10px;
    color: #CACACA;
}

.footer-player-right input {
    width: 80px;
    position: relative;
    margin-right: 10px;
    top: -3px;
}

.footer-player-right-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

.footer-player-right-buttons img {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    transition: transform 200ms ease-in-out 0s;
}

.footer-player-right-buttons img:hover {
    transform: scale(1.4);
}